<!-- @format -->
<h1>header.ejs 적용부분</h1>
<nav class="navbar navbar-default">
  <div>
    <div>
      <a href="#" class="navbar-brand">
        <span>EJS</span>
      </a>
    </div>

    <ul class="nav navbar-nav">
      <li><a href="/">home</a></li>
      <li><a href="/about">ABOUT</a></li>
    </ul>
  </div>
</nav>
