<!-- @format -->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>about</title>
<style>
  img {
    height: 250px;
  }
  ul,
  ol {
    list-style: none;
  }
  li {
    display: inline-block;
  }
  h1 {
    color: #aaa;
  }
  .stranger {
    color: orangered;
  }
  .name {
    color: cornflowerblue;
  }
</style>
