<!-- @format -->
<!DOCTYPE html>
<html lang="ko">
  <%- include('./particle/head')%>

  <body>
    <header><%- include('./particle/header')%></header>

    <main>
      <h1>ejs if문 써보기!</h1>
      <h2>hi!!</h2>
    </main>

    <footer><%- include('./particle/footer')%></footer>
  </body>
</html>
